@model IEnumerable<Client.ViewModels.LeaveRequest.LeaveRequestVM>

@{
	ViewData["Title"] = "GetByManager";
	Layout = "_LayoutEmployee";
}

<h1>GetByManager</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<section class="section">
	<div class="card">
		<div class="card-header">
			Employee Table by Manager
		</div>
		<div class="card-body">
			<table class="table table-striped" id="table1">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.FullName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.LeaveName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Remarks)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.SubmitDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.StartDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.EndDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Attachment)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Status)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.FullName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.LeaveName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Remarks)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.SubmitDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.StartDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.EndDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Attachment)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Status)
							</td>
							<td>
								<form action="/leaverequest/ApproveStatuss" method="get">
									<input type="hidden" value="@item.Guid" name="guid" />
									<button type="submit" class="btn btn-sm btn-primary">Detail</button>
								</form>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section>
