@model IEnumerable<Client.ViewModels.LeaveRequest.LeaveRequestVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section class="section">
    <div class="card">
        <div class="card-header">
            Employee Table
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Manager)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EligibleLeave)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubmitDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Attachment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveTypesGuid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeesGuid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ManagerGuid)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manager)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EligibleLeave)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubmitDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Attachment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveTypesGuid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeesGuid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ManagerGuid)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>