@using Client.ViewModels.Account;
@model IEnumerable<Client.ViewModels.Employee.EmployeeVM>

﻿@{
    Layout = "_LayoutEmployee";
}
<p>
    <a class="btn btn-primary" href="/Employee/Create">
        <i class="bi bi-person-plus"></i>
        Add Employee</a>
</p>
<section class="section">
    <div class="card">
        <div class="card-header">
            Employee Table
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NIK)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EligibleLeave)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HiringDate)
                        </th>
                        <th>
                            @Html.DisplayName("Manager Name")
                        </th>
                        <th>
                            @Html.DisplayName("Role")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.NIK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EligibleLeave)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HiringDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manager)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                <form action="/employee/delete" method="post" onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?')">
                                    <input type="hidden" value="@item.Guid" name="guid" />
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                <form action="/employee/edit" method="get">
                                    <input type="hidden" value="@item.Guid" name="guid" />
                                    <button type="submit" class="btn btn-sm btn-primary">Edit</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
@section Scripts {
    <script src="/js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
